body
{
	background-color:#1498F0;
	padding:0;
	margin:0;
}
#banner{
	background-color:red;
	text-align:right;
	border: 2px solid yellow;
	border-radius: 4px;
	margin: 10px;
}
#map{
	border: 2px solid yellow;
	border-radius: 4px;
	height:inherit;
	background-color: rgb(255, 224, 0);
	margin: 20px;

}
#gamelevels{
	display:inline-block;
	margin-left:15%;
	border: 2px solid black;
	border-radius: 4px;

}
#taskmap{
	display:inline-block;
	margin-left:10%;
	border: 2px solid black;
	border-radius: 4px;

}

#game{
	text-align:center;
}
.img{
	display:inline-block;
}
.level{
	display:inline-block;
	opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}
.gradelist{
	list-style:none;
	display:inline;
	padding:0;
}
div.grade{
	display:block;	
}

.taskitem{
	display:inline-block;
}
.tasklist{
	list-style:none;
	display:inline;
	padding:0;
}
#topcol{
	display:block;
}
div.task{
	display:block;	
}
#tasklist
{
	list-style-ty pe: none;
	padding: 0;
}



#imagediv{
	display:inline-block;
}
#formstuff{
	display:inline-block;
}

#gradelist
{
	list-style-ty pe: none;
	padding: 0;
}
#gradelist li
{
	padding:0;
}
#gradelist a
{
	text-align: center;
}
#gradelist a.visited
{
	text-decoration: none;
}
#spellhere
{
	border: 2px solid yellow;
	border-radius: 4px;
	background-color: red;
	line-height: 80px;
	width: 450px;
	text-align: center;
	font-family: helvetica;
	font-size: 69px;
	color: white;
	margin-bottom:40px;
}
#submitword	
{
	color: white;
	background-color: red;
	font-size: 40px;
	font-family: helvetica;
	line-height: 0px;
	border: 2px solid yellow;
	border-radius: 4px;
}
.exercisetext
{
	color: white;
	font-size: 24px;
	font-family: helvetica;
}
#image
{
	border-radius: 10px;
	border: 2px solid yellow;
	margin: 30px;
}
